/target
/lib
/classes
/checkouts
pom.xml
dev-config.edn
test-config.edn
*.jar
*.class
/.lein-*
profiles.clj
/.env
.nrepl-port

/node_modules
/log
.vscode
.idea
*.iml
.rebel_readline_history
node_modules
.shadow-cljs
resources/public
