{:lein     {:profile "+client-dev"}
 :dev-http {8000 "classpath:public"}
 :builds   {:main {:target     :browser
                   :output-dir "resources/public/js/main"
                   :asset-path "/js/main"
                   :modules    {:main {:init-fn harpocrates.client/init
                                       :entries [harpocrates.client]}}
                   :devtools   {:after-load harpocrates.client/refresh
                                :preloads   [day8.re-frame-10x.preload]}}}}
